body {
    background-color: aliceblue;
}

.container {
    background-color: aliceblue;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

img {
    display: block;
    margin: auto;
}

.row .card {
    margin-top: 30px;
    margin-right: 100vh;
    justify-content: center;
    width: 400px;
}